body{
  font-family:Roboto,sans-serif;
  font-weight: 500;
}

.headerbox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 2000px;
  min-width: 900px;
  border-radius: 15px; 
  background-color: white; 
  margin: 20px;
  border: solid;
  
}

.button{
 height: 70px;
 text-align: center;
 line-height: 2;
 border-radius: 10px;
 width: 500px;
 min-width: 150px;
 font-size: 32px;
 border: solid;
}

.button:hover {
Background-color: #006DC7;
color: white;
/* ´botão mudando de cor */
}


.Mainbox{
  display: flex;
  justify-content: space-evenly;
  margin: 45px;
  margin-top: 10px;
  min-width: 1024px;
  margin-bottom: 10px;
  height: 200px;
  width: auto;
  border: solid;
}

.square{
text-align: center;
justify-content: center;
border-radius: 30px;
min-width: 400px;
margin-left: 40px;
margin-right: 40px;;
background-color: #006DC7;
color: white;
line-height: 3;
font-size: 25px;
border: solid;
}

/* ´background */
body {
  background-image: url("assets/backgroud.jpg");
  background-size: 50%,contain;
  background-position: center; 
  background-repeat: repeat;
  background-color: #054b84;
  background-blend-mode: multiply;
}
/* ´quadros brancos */
.whiteboards{
   display: flex;
  justify-content: space-between;
  height: auto;
  width: auto;
  min-width: 400px;
  margin: 45px;
  margin-top: 30px;
  margin-left: 150px;
  margin-right: 150px;
  border: solid;
}

.box1{
  background-color: white;
  display: flex;
  justify-content: flex-start;
  margin: 45px;
  margin-top: 1px;
  height: 270px;
  min-width: 570px;
  border-radius: 15px;
  text-align: left; 
  padding: 15px;
  font-size: 25px;
  border: solid;
}

.box2{
  background-color: white;
  display: grid;
  place-items: center;
  justify-content: center;
  align-content: center;
  margin: 45px;
  margin-top: 1px;
  height: 270px;
  min-width: 570px;
  border-radius: 15px;
  text-align: center; 
  padding:15px;
  font-size: 25px;
  align-items: center;
  border: solid;
}

.textin{
 width: 540px;
 height: 160px;
 align-items: center;
 justify-content: center;
 text-align: center;
 padding:15px;
 border: solid;
}

.buttonConsult{
 Background-color: #006DC7;
 color: white;
 justify-content: center;
 width: 500px;
 height: 60px;
 align-items: center;
 text-align: center;
 Line-height: 2.3;
 margin-top: 1px;
 border-radius: 15px;
 border: solid;
}

.textin img{
  height: 40px;
  vertical-align: bottom;
  border: solid;
}

.downboards{
   display: flex;
  justify-content: space-between;
  height: auto;
  width: auto;
  margin: 45px;
  margin-left: 150px;
  margin-right: 150px;
  border: solid;
}

.box3{
  background-color: white;
  display: flex;
  justify-content: flex-start;
  margin: 45px;
  margin-top: 1px;
  height: 500px;
  min-width: 570px;
  border-radius: 15px;
  text-align: left; 
  padding: 15px;
  font-size: 25px;
  border: solid;
}

.box4{
  display: flex;
  justify-content: center;
  margin: 45px;
  margin-top: 1px;
  height: 500px;
  min-width: 570px;
  border-radius: 15px;
  text-align: left; 
  padding: 15px;
  font-size: 25px;
  border: solid;
}